<%-include('../partials/header.ejs')%>
    <!DOCTYPE html>
    <html lang="" en>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
        </script>
    <style>
        .bold {
            font-weight: bold;
        }

        .F1 {
            font-family: "Times New Roman", Times, serif;
        }

        .font16 {
            font-size: 16px;
        }

        .font30 {
            font-size: 30px;
        }

        .padding-bt {
            padding-bottom: 1.5%;
        }

        .padding-ls {
            padding-inline-start: 4.0%;
        }

        .padding-le {
            padding-inline-end: 4.0%;
        }

        .padding-t {
            padding-top: 1.5%;
        }
    </style>

    <body>
        <div class="text-center F1 font30 padding-bt padding-t bold">MVC Test of Computer Science KMITL</div>
        <div class="text-center F1 font16 padding-bt padding-t bold">System for show information all of employee</div>


        <div class="container-fluid F1 font16 padding-t">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-warning">
                                <th scope="col">No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Salary</th>
                                <th scope="col">level</th>
                            </tr>
                        </thead>
                        <tbody>
                                <% for(let i of response){ %>
                                <tr>
                                    <th scope="row">
                                        <%= i.employee_id %>
                                    </th>
                                    <td>
                                        <%= i.name %>
                                    </td>
                                    <td>
                                        <%= i.dept_name %>
                                    </td>
                                    <td>
                                       <%= i.salary %>
                                    </td>
                                    <td>
                                        <%= i.level %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
